Body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header,
main {
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
}

img {
    float: left;
    height: 46px;
}

nav {
    float: right;
    margin-top: 26px;
}

a {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
}
a:hover {
    border-bottom: 2px solid red;
}
a:nth-child(1) {
    border-bottom: 2px solid red;
}

main {
    margin-top: 100px
}